<template>
	<div>
		<div>
			<h2>欢迎来到VUE</h2>
		</div>
		<div>
			<el-row type="flex" justify="center" align="middle">
				<el-col span="6">姓名：</el-col>
				<el-col span="12">
					<el-input v-model="name" placeholder="姓名"></el-input>
				</el-col>
			</el-row>
			<el-row type="flex" justify="center" align="middle">
				<el-col span="6">性别：</el-col>
				<el-col span="12">
					<el-radio v-model="sex" label="male">男</el-radio>
					<el-radio v-model="sex" label="female">女</el-radio>
				</el-col>
			</el-row>
			<el-row type="flex" justify="center" align="middle">
				<el-col span="6">出生日期：</el-col>
				<el-col span="12">
					<el-date-picker v-model="birthday" type="date" placeholder="出生日期"></el-date-picker>
				</el-col>
			</el-row>
			<el-row type="flex" justify="center" align="middle">
				<el-col span="6"></el-col>
				<el-col span="6">
					<el-button type="primary" @click="submit()">确认</el-button>
				</el-col>
				<el-col span="6">
					<el-button type="info" @click="clear()">取消</el-button>
				</el-col>
				<el-col span="6"></el-col>
			</el-row>
		</div>
		<div>
			<el-table :data="tableData" border>
				<el-table-column prop="name" label="姓名"></el-table-column>
				<el-table-column prop="sex" label="性别"></el-table-column>
				<el-table-column prop="birthday" label="生日"></el-table-column>
				<el-table-column label="操作">
					<template slot-scope="scope">
						<el-button @click="handleClick(scope.row)" type="text" size="small">删除</el-button>
					</template>
				</el-table-column>
			</el-table>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'login',
		data: function() {
			return {
				name: '',
				sex: '',
				birthday: Date(),
				tableData: {}
			}
		},
		methods: {
			submit: function() {
				var vm = this
				vm.$http.post(
					'http://localhost:18080/submit', {
						name: this.name,
						sex: this.sex,
						birthday: this.birthday
					}, {
						emulateJSON: true
					}).then((response) => {
						vm.queryForTable()
						console.log(response)
				})
			},
			clear: function(){
				var vm=this
				vm.$set(vm,'name','')
				vm.$set(vm,'sex','')
				vm.$set(vm,'birthday',Date())
			},
			queryForTable: function(){
				var vm=this
				vm.$http.post('http://localhost:18080/list').then((response)=>{
					vm.$set(vm,'tableData',response.body)
				})
			},
			handleClick: function(row){
				console.log(row)
				var vm=this
				vm.$http('http://localhost:18080/delete',{
					id:row.id
				},{
					emulateJSON:false
				}).then((response)=>{
					console.log(response.status)
				})
			}
		},
		created: function(){
			this.queryForTable()
		}
	}
</script>

<style>
	.el-row {
		height: 40px;
		padding: 10px;
	}
</style>
